<?xml version="1.0"?>

<connectionStrings>

  <!-- ________________________________________________________________ RBAC / Membership CONNECTION STRINGS_______________________________________________________________-->
  <!--Membership connector. this will be the connection used when logging in and out of the application. it is used by the simplemembership and must point to the RBAC database-->
  <add name="Membership.Connector" connectionString="Data Source[RBACSERVERNAME];Initial Catalog[RBACDATABASENAME];User ID[RBACUSERNAME];Password[RBACPASSWORD];" providerName="System.Data.SqlClient" />
  <!-- Reference for the data context that will contain all of the RBAC data used by the application. -->
  <add name="RbacEntities" connectionString="metadata=res://*/RbacEntities.csdl|res://*/RbacEntities.ssdl|res://*/RbacEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source[RBACSERVERNAME];initial catalog[RBACDATABASENAME];user id[RBACUSERNAME];password[RBACPASSWORD];MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


  <!-- ________________________________________________________________ CUSTOMER CONNECTION STRINGS_______________________________________________________________-->
  <!--These must point to the PEMS (RipNet) database for this discount scheme customer-->
  <!-- Reference for the data context that will contain all of the PEMS (RipNet) data used by the application. -->
  <add name="Entities" connectionString="metadata=res://*/PemsEntities.csdl|res://*/PemsEntities.ssdl|res://*/PemsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source[PEMSSERVERNAME];initial catalog[PEMSDATABASENAME];persist security info=True;user id[PEMSUSERNAME];password[PEMSPASSWORD];MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

</connectionStrings>