################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Duncan.PEMS.DataAccess/obj
/Duncan.PEMS.DataAccess/bin
/Duncan.PEMS.Business/bin
/Duncan.PEMS.Entities/bin
/Duncan.PEMS.Entities/obj
/Duncan.PEMS.Framework/bin
/Duncan.PEMS.Framework/obj
/Duncan.PEMS.Install/bin/Debug
/Duncan.PEMS.Install/bin/Debug
/Duncan.PEMS.Install/obj
/Duncan.PEMS.Security/bin
/Duncan.PEMS.Security/obj
/Duncan.PEMS.SpaceStatus/bin
/Duncan.PEMS.SpaceStatus/obj
/Duncan.PEMS.Test/bin/Debug
/Duncan.PEMS.Test/obj
/Duncan.PEMS.Utilities/bin
/Duncan.PEMS.Utilities/obj
/Duncan.PEMS.Web/bin
/Duncan.PEMS.Web/obj
/Duncan.PEMS.WebServices/bin
/Duncan.PEMS.WebServices/obj
/Duncan.PEMS.WebServiceTest/bin/Debug
/packages
/RBACProvider/bin
/RBACProvider/obj
/Duncan.PEMS.WebServiceTest/obj
