<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpHandlers>
      <add type="Duncan.PEMS.WebServices.FieldMaintenance.ClearAlarms, Duncan.PEMS.WebServices" verb="*" path="ClearAlarms" />
      <add type="Duncan.PEMS.WebServices.FieldMaintenance.GetWorkOrders, Duncan.PEMS.WebServices" verb="*" path="GetWorkOrders" />
    </httpHandlers>
  </system.web>
    <system.webServer>
        <handlers>
          <add name="ClearAlarms" path="ClearAlarms" verb="*" modules="IsapiModule" type="Duncan.PEMS.WebServices.FieldMaintenance.ClearAlarms, Duncan.PEMS.WebServices" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script"  />
          <add name="GetWorkOrders" path="GetWorkOrders" verb="*" modules="IsapiModule" type="Duncan.PEMS.WebServices.FieldMaintenance.GetWorkOrders, Duncan.PEMS.WebServices" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" />
          <!--resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" />-->
        </handlers>
        <directoryBrowse enabled="false" />
    </system.webServer>
   <connectionStrings>
    <!--Membership connector. this will be the connection used when logging in and out of the application. it is used by the simplemembership and must point to the RBAC database-->
    <add name="Duncan.Membership.Connector" connectionString="Data Source=tcp:devdb.unidev.com,60229;Initial Catalog=PEMSRBAC_test;User ID=duncan;Password=duncan;" providerName="System.Data.SqlClient" />

    <!--Reference for the data context that will contain all of the RBAC data used by the application.-->
    <add name="PEMRBACEntities" connectionString="metadata=res://*/RBAC.PEMRBACEntities.csdl|res://*/RBAC.PEMRBACEntities.ssdl|res://*/RBAC.PEMRBACEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:devdb.unidev.com,60229;initial catalog=PEMSRBAC_test;user id=duncan;password=duncan;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--Reference for the data context that will contain all of the PEMS (RipNet) data used by the application.-->
    <add  name="PEMEntities" connectionString="metadata=res://*/PEMS.PEMS.csdl|res://*/PEMS.PEMS.ssdl|res://*/PEMS.PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVDB\TEST2008R2;initial catalog=PEMS_test3;persist security info=True;user id=duncan;password=duncan;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


    <!--CUSTOMER CONNECTION STRINGS
  These connection strings are based on the pems.database.cnx_pattern app setting in the web config (PEMS.CNX. at the time of this writing) and will be the connection strings used for Customers.
  These must point to the PEMS (RipNet) database-->
    <add  name="PEMS.CNX.1" connectionString="metadata=res://*/PEMS.PEMS.csdl|res://*/PEMS.PEMS.ssdl|res://*/PEMS.PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVDB\TEST2008R2;initial catalog=PEMS_test3;persist security info=True;user id=duncan;password=duncan;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add  name="PEMS.CNX.2" connectionString="metadata=res://*/PEMS.PEMS.csdl|res://*/PEMS.PEMS.ssdl|res://*/PEMS.PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVDB\TEST2008R2;initial catalog=PEMS_test2;persist security info=True;user id=duncan;password=duncan;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


    <!--MAINTENANCE GROUP CONNECTION STRINGS-->
    <!--These connection strings are based on the maint.database.cnx_pattern app setting in the web config (MAINT.CNX. at the time of this writing) and will be the connection strings used for MAINTENANCE GROUPS.
  These must point to the location of the maintenance group work order database, currently residing in the RBAC DB.-->
    <add name="MAINT.CNX.1" connectionString="metadata=res://*/RBAC.MaintenanceEntities.csdl|res://*/RBAC.MaintenanceEntities.ssdl|res://*/RBAC.MaintenanceEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:devdb.unidev.com,60229;initial catalog=PEMSRBAC_test;user id=duncan;password=duncan;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--IZENDA REPORTING CONNECTION STRINGS
  These connection strings are based on the reporting.database.cnx_pattern app setting in the web config (REPORTING.CNX. at the time of this writing) and will be the connection strings used for Izenda reporting db for a customer.
  These must point to the location of the izenda Reporting database.-->
    <add name="REPORTING.CNX.1" connectionString="Server=DEVDB\TEST2008R2;Database=PEMS_test3;User ID=duncan;Password=duncan;MultipleActiveResultSets=True;" />
    <add name="REPORTING.CNX.2" connectionString="Server=DEVDB\TEST2008R2;Database=PEMS_test2;User ID=duncan;Password=duncan;MultipleActiveResultSets=True;" />

  </connectionStrings>
</configuration>