<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<connectionStrings><add name="ReportQueryEntities" connectionString="metadata=res://*/ReportQueryModel.csdl|res://*/ReportQueryModel.ssdl|res://*/ReportQueryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL0210229;initial catalog=PEMSRBAC_US_PRO;persist security info=True;user id=duncan;password=n0_Pr3ssure;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>