@using Duncan.PEMS.Utilities
@{
    ViewBag.Title = "ViewTariffConfiguration";
}

<h2>ViewTariffConfiguration</h2>


This page is under development.

        <div class="customer_actions">
            @Html.ActionLink(@HttpContext.Current.GetLocaleResource(ResourceTypes.Button, "Return").ToString(), "Index", "Home", null, new { @class = "button previous", @type = "button" })
        </div>
