<?xml version="1.0"?>

<connectionStrings>
  
  <!-- ________________________________________________________________ RBAC / Membership CONNECTION STRINGS_______________________________________________________________-->
  <!--Membership connector. this will be the connection used when logging in and out of the application. it is used by the simplemembership and must point to the RBAC database-->
  <add name="Duncan.Membership.Connector" connectionString="Data Source=[RBACSERVERNAME];Initial Catalog=[RBACDATABASENAME];User ID=[RBACUSERNAME];Password=[RBACPASSWORD];" providerName="System.Data.SqlClient" />
  <!-- Reference for the data context that will contain all of the RBAC data used by the application. -->
  <add name="PEMRBACEntities" connectionString="metadata=res://*/RBAC.PEMRBACEntities.csdl|res://*/RBAC.PEMRBACEntities.ssdl|res://*/RBAC.PEMRBACEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=[RBACSERVERNAME];initial catalog=[RBACDATABASENAME];user id=[RBACUSERNAME];password=[RBACPASSWORD];MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
  
  <!-- ________________________________________________________________ CUSTOMER CONNECTION STRINGS_______________________________________________________________-->
  <!--These connection strings are based on the pems.database.cnx_pattern app setting in the web config (PEMS.CNX. at the time of this writing) and will be the connection strings used for Customers.-->
  <!--These must point to the PEMS (RipNet) database-->
  <!-- Reference for the data context that will contain all of the PEMS (RipNet) data used by the application. -->
  <add  name="PEMEntities" connectionString="metadata=res://*/PEMS.PEMS.csdl|res://*/PEMS.PEMS.ssdl|res://*/PEMS.PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=[PEMSSERVERNAME];initial catalog=[PEMSDATABASENAME];persist security info=True;user id=[PEMSUSERNAME];password=[PEMSPASSWORD];MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add  name="PEMS.CNX.1" connectionString="metadata=res://*/PEMS.PEMS.csdl|res://*/PEMS.PEMS.ssdl|res://*/PEMS.PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=[PEMSSERVERNAME];initial catalog=[PEMSDATABASENAME];persist security info=True;user id=[PEMSUSERNAME];password=[PEMSPASSWORD];MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />


  
  <!-- ________________________________________________________________ MAINTENANCE GROUP CONNECTION STRINGS_______________________________________________________________-->
  <!--These connection strings are based on the maint.database.cnx_pattern app setting in the web config (MAINT.CNX. at the time of this writing) and will be the connection strings used for MAINTENANCE GROUPS.-->
  <!--These must point to the location of the maintenance group work order database, currently residing in the RBAC DB.-->
  <add name="MAINT.CNX.1" connectionString="metadata=res://*/RBAC.PEMRBACEntities.csdl|res://*/RBAC.PEMRBACEntities.ssdl|res://*/RBAC.PEMRBACEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=[MAINTENANCESERVERNAME];initial catalog=[MAINTENANCEDATABASENAME];user id=[MAINTENANCEUSERNAME];password=[MAINTENANCEPASSWORD];MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!--Additional connection string samples -->
  <!--<add name="MAINT.CNX.2" connectionString="metadata=res://*/RBAC.PEMRBACEntities.csdl|res://*/RBAC.PEMRBACEntities.ssdl|res://*/RBAC.PEMRBACEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=[MAINTENANCESERVERNAME2];initial catalog=[MAINTENANCEDATABASENAME2];user id=[MAINTENANCEUSERNAME2];password=[MAINTENANCEPASSWORD2];MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="MAINT.CNX.3" connectionString="metadata=res://*/RBAC.PEMRBACEntities.csdl|res://*/RBAC.PEMRBACEntities.ssdl|res://*/RBAC.PEMRBACEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=[MAINTENANCESERVERNAME3];initial catalog=[MAINTENANCEDATABASENAME3];user id=[MAINTENANCEUSERNAME3];password=[MAINTENANCEPASSWORD3];MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  

  <!-- ________________________________________________________________ IZENDA REPORTING CONNECTION STRINGS_______________________________________________________________-->
  <!--These connection strings are based on the reporting.database.cnx_pattern app setting in the web config (REPORTING.CNX. at the time of this writing) and will be the connection strings used for Izenda reporting db for a customer.-->
  <!--These must point to the location of the izenda Reporting database.-->
  <add name="REPORTING.CNX.1" connectionString="Server=[REPORTINGSERVERNAME];Database=[REPORTINGDATABASENAME];User ID=[REPORTINGUSERNAME];Password=[REPORTINGPASSWORD];MultipleActiveResultSets=True;" />
  <!--Additional connection string samples -->
  <!--<add name="REPORTING.CNX.2" connectionString="Server=[REPORTINGSERVERNAME2];Database=[REPORTINGDATABASENAME2];User ID=[REPORTINGUSERNAME2];Password=[REPORTINGPASSWORD2];MultipleActiveResultSets=True;" />-->
  <!--<add name="REPORTING.CNX.3" connectionString="Server=[REPORTINGSERVERNAME3];Database=[REPORTINGDATABASENAME3];User ID=[REPORTINGUSERNAME3];Password=[REPORTINGPASSWORD3];MultipleActiveResultSets=True;" />-->

</connectionStrings>