@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">An error occurred while processing your request.</h2>
    <p class="error_pageErrorCode">Error Code: @ViewData["__errorCode"]</p>
    <p class="error_pageErrorCode">Error Message: @ViewData["__errorMessage"]</p>
</hgroup>
