<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<connectionStrings>
  <!-- DEVDB\TEST2008R2  -->

  <add name="Duncan.Membership.Connector" connectionString="Data Source=tcp:devdb.unidev.com,60229;Initial Catalog=PEMRBAC_Dev;User ID=duncan;Password=duncan;" providerName="System.Data.SqlClient" />
  <add name="PEMRBACEntities" connectionString="metadata=res://*/PEMRBACEntities.csdl|res://*/PEMRBACEntities.ssdl|res://*/PEMRBACEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:devdb.unidev.com,60229;initial catalog=PEMRBAC_Dev;user id=duncan;password=duncan;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="PEMEntities" connectionString="metadata=res://*/PEMS.csdl|res://*/PEMS.ssdl|res://*/PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:devdb.unidev.com,60229;initial catalog=Pems_Dev;persist security info=True;user id=duncan;password=duncan;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

 <!-- local -->
  <!--<add name="Duncan.Membership.Connector"
       connectionString="Data Source=NSX;Initial Catalog=PEMRBAC;User ID=duncan;Password=duncan;"
       providerName="System.Data.SqlClient" />
  <add name="PEMRBACEntities"
       connectionString="metadata=res://*/PEMRBACEntities.csdl|res://*/PEMRBACEntities.ssdl|res://*/PEMRBACEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NSX;initial catalog=PEMRBAC;user id=duncan;password=duncan;MultipleActiveResultSets=True;App=EntityFramework&quot;"
       providerName="System.Data.EntityClient" />-->
  
  <!-- Rob's local-->
<!--
  <add name="Duncan.Membership.Connector"
       connectionString="Data Source=BELLAGIO\SQLEXPRESSR2;Initial Catalog=PEMRBAC_Devf;User ID=duncan;Password=duncan;"
       providerName="System.Data.SqlClient" />
  <add name="PEMRBACEntities"
       connectionString="metadata=res://*/PEMRBACEntities.csdl|res://*/PEMRBACEntities.ssdl|res://*/PEMRBACEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BELLAGIO\SQLEXPRESSR2;initial catalog=PEMRBAC_Devf;user id=duncan;password=duncan;MultipleActiveResultSets=True;App=EntityFramework&quot;"
       providerName="System.Data.EntityClient" />
  <add name="PEMEntities" connectionString="metadata=res://*/PEMS.csdl|res://*/PEMS.ssdl|res://*/PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BELLAGIO\SQLEXPRESSR2;initial catalog=pemsdevxxx;persist security info=True;user id=duncan;password=duncan;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  -->

</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
