<?xml version="1.0"?>
<!--DEV VERSION-->

<connectionStrings>
  
  <!--EMQOS Data Base-->
  <!--Local SIT-->
  <!--<add name="Duncan.Membership.Connector" connectionString="Data Source=192.168.3.157;Initial Catalog=PEMSRBAC_US_SIT;User ID=sa;Password=india;" providerName="System.Data.SqlClient" />
  <add name="PEMRBACEntities" connectionString="metadata=res://*/RBAC.PEMRBACEntities.csdl|res://*/RBAC.PEMRBACEntities.ssdl|res://*/RBAC.PEMRBACEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.157;initial catalog=PEMSRBAC_US_SIT;user id=sa;password=india;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="MAINT.CNX.1" connectionString="metadata=res://*/RBAC.MaintenanceEntities.csdl|res://*/RBAC.MaintenanceEntities.ssdl|res://*/RBAC.MaintenanceEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.157;initial catalog=PEMSRBAC_US_SIT;user ID=sa;Password=india;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     
  <add name="PEMEntities" connectionString="metadata=res://*/PEMS.PEMS.csdl|res://*/PEMS.PEMS.ssdl|res://*/PEMS.PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.157;initial catalog=PEMS;persist security info=True;user id=sa;password=india;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="PEMS.CNX.1" connectionString="metadata=res://*/PEMS.PEMS.csdl|res://*/PEMS.PEMS.ssdl|res://*/PEMS.PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.157;initial catalog=PEMS;persist security info=True;user id=sa;password=india;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="REPORTING.CNX.1" connectionString="Server=192.168.3.157;Database=PEMS;User ID=sa;Password=india;MultipleActiveResultSets=True;" />
  <add name="REPORTING.CNX.2" connectionString="Server=192.168.3.157;Database=PEMS;User ID=sa;Password=india;MultipleActiveResultSets=True;" />-->
  <add name="OracleDBEntities" connectionString="metadata=res://*/OracleDB.OracleDB.csdl|res://*/OracleDB.OracleDB.ssdl|res://*/OracleDB.OracleDB.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=aipro2;PASSWORD=atOu!8%2n;PERSIST SECURITY INFO=True;USER ID=VGANESAN&quot;" providerName="System.Data.EntityClient" />
  
	<!--ENd Local SIT-->
  
  <!--<add name="MAINT.CNX.1" connectionString="metadata=res://*/RBAC.PEMRBACEntities.csdl|res://*/RBAC.PEMRBACEntities.ssdl|res://*/RBAC.PEMRBACEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.157;initial catalog=PEMSRBAC_US_SIT;user id=sa;password=india;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="MaintenanceEntities" connectionString="metadata=res://*/RBAC.PEMRBACEntities.csdl|res://*/RBAC.PEMRBACEntities.ssdl|res://*/RBAC.PEMRBACEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.157;initial catalog=PEMSRBAC_US_SIT;user id=sa;password=india;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
   
  
  <!--Local System-->
  <!--<add name="Duncan.Membership.Connector" connectionString="Data Source=.;Initial Catalog=PEMSRBAC;User ID=sa;Password=indian;" providerName="System.Data.SqlClient" />
  <add name="PEMRBACEntities" connectionString="metadata=res://*/RBAC.PEMRBACEntities.csdl|res://*/RBAC.PEMRBACEntities.ssdl|res://*/RBAC.PEMRBACEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PEMSRBAC;user id=sa;password=indian;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="MAINT.CNX.1" connectionString="metadata=res://*/RBAC.PEMRBACEntities.csdl|res://*/RBAC.PEMRBACEntities.ssdl|res://*/RBAC.PEMRBACEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PEMSRBAC;user id=sa;password=indian;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  <add name="PEMEntities" connectionString="metadata=res://*/PEMS.PEMS.csdl|res://*/PEMS.PEMS.ssdl|res://*/PEMS.PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PEMS;persist security info=True;user id=sa;password=indian;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="PEMS.CNX.1" connectionString="metadata=res://*/PEMS.PEMS.csdl|res://*/PEMS.PEMS.ssdl|res://*/PEMS.PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PEMS;persist security info=True;user id=sa;password=indian;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="REPORTING.CNX.1" connectionString="Server=.;Database=PEMS;User ID=sa;Password=indian;MultipleActiveResultSets=True;" />
  <add name="REPORTING.CNX.2" connectionString="Server=.;Database=PEMS;User ID=sa;Password=indian;MultipleActiveResultSets=True;" />-->
  
  <!--PEMS US SIT Data Base-->
  <!--<add name="Duncan.Membership.Connector" connectionString="Data Source=172.27.5.105;Initial Catalog=PEMSRBAC_US_SIT;User ID=sampath;Password=Emqos@7;" providerName="System.Data.SqlClient" />
  <add name="PEMRBACEntities" connectionString="metadata=res://*/RBAC.PEMRBACEntities.csdl|res://*/RBAC.PEMRBACEntities.ssdl|res://*/RBAC.PEMRBACEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.27.5.105;initial catalog=PEMSRBAC_US_SIT;user id=sampath;password=Emqos@7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="MAINT.CNX.1" connectionString="metadata=res://*/RBAC.PEMRBACEntities.csdl|res://*/RBAC.PEMRBACEntities.ssdl|res://*/RBAC.PEMRBACEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.27.5.105;initial catalog=PEMSRBAC_US_SIT;user id=sampath;password=Emqos@7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  <add name="PEMEntities" connectionString="metadata=res://*/PEMS.PEMS.csdl|res://*/PEMS.PEMS.ssdl|res://*/PEMS.PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.27.5.105;initial catalog=PEMS_ScratchDB;persist security info=True;user id=sampath;password=Emqos@7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="PEMS.CNX.1" connectionString="metadata=res://*/PEMS.PEMS.csdl|res://*/PEMS.PEMS.ssdl|res://*/PEMS.PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.27.5.105;initial catalog=PEMS_ScratchDB;persist security info=True;user id=sampath;password=Emqos@7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="REPORTING.CNX.1" connectionString="Server=172.27.5.105;Database=PEMS_ScratchDB;User ID=sampath;Password=Emqos@7;MultipleActiveResultSets=True;" />
  <add name="REPORTING.CNX.2" connectionString="Server=172.27.5.105;Database=PEMS_ScratchDB;User ID=sampath;Password=Emqos@7;MultipleActiveResultSets=True;" />-->
  
  <!--PEMS US Production Data Base-->
  <!--<add name="Duncan.Membership.Connector" connectionString="Data Source=172.27.4.77;Initial Catalog=PEMSRBAC_US_PRO;User ID=sampathg;Password=.citeme2;" providerName="System.Data.SqlClient" />
  <add name="PEMRBACEntities" connectionString="metadata=res://*/RBAC.PEMRBACEntities.csdl|res://*/RBAC.PEMRBACEntities.ssdl|res://*/RBAC.PEMRBACEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.27.4.77;initial catalog=PEMSRBAC_US_PRO;user id=sampathg;password=.citeme2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="MAINT.CNX.1" connectionString="metadata=res://*/RBAC.PEMRBACEntities.csdl|res://*/RBAC.PEMRBACEntities.ssdl|res://*/RBAC.PEMRBACEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.27.4.77;initial catalog=PEMSRBAC_US_PRO;user id=sampathg;password=.citeme2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
  <add name="PEMEntities" connectionString="metadata=res://*/PEMS.PEMS.csdl|res://*/PEMS.PEMS.ssdl|res://*/PEMS.PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.27.4.77;initial catalog=PEMS_US_PRO;persist security info=True;user id=sampathg;password=.citeme2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="PEMS.CNX.1" connectionString="metadata=res://*/PEMS.PEMS.csdl|res://*/PEMS.PEMS.ssdl|res://*/PEMS.PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.27.4.77;initial catalog=PEMS_US_PRO;persist security info=True;user id=sampathg;password=.citeme2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="REPORTING.CNX.1" connectionString="Server=172.27.4.77;Database=PEMS_US_PRO;User ID=sampathg;Password=.citeme2;MultipleActiveResultSets=True;" />
  <add name="REPORTING.CNX.2" connectionString="Server=172.27.4.77;Database=PEMS_US_PRO;User ID=sampathg;Password=.citeme2;MultipleActiveResultSets=True;" />

  <add name="PEMS.CNX.2" connectionString="metadata=res://*/PEMS.PEMS.csdl|res://*/PEMS.PEMS.ssdl|res://*/PEMS.PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVDB\TEST2008R2;initial catalog=PEMS_Test2;persist security info=True;user id=duncan;password=duncan;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="PEMS.CNX.3" connectionString="metadata=res://*/PGetPAMClusterStatusByMeterIdEMS.PEMS.csdl|res://*/PEMS.PEMS.ssdl|res://*/PEMS.PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IS250\SQLEXPRESS;initial catalog=PEMS_Test3;persist security info=True;user id=duncan;password=duncan;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
  
  
 <!--PEMS US Production Data Base-->
  <!--Prod-->
  <!--<add name="Duncan.Membership.Connector" connectionString="Data Source=172.21.2.181;Initial Catalog=PEMSRBAC_US_PRO;User ID=sampathg;Password=.Dotnetteam;" providerName="System.Data.SqlClient" />
  <add name="PEMRBACEntities" connectionString="metadata=res://*/RBAC.PEMRBACEntities.csdl|res://*/RBAC.PEMRBACEntities.ssdl|res://*/RBAC.PEMRBACEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.21.2.181;initial catalog=PEMSRBAC_US_PRO;user id=sampathg;password=.Dotnetteam;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="MAINT.CNX.1" connectionString="metadata=res://*/RBAC.MaintenanceEntities.csdl|res://*/RBAC.MaintenanceEntities.ssdl|res://*/RBAC.MaintenanceEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.21.2.181;initial catalog=PEMSRBAC_US_PRO;user ID=sampathg;Password=.Dotnetteam;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
  <add name="PEMEntities" connectionString="metadata=res://*/PEMS.PEMS.csdl|res://*/PEMS.PEMS.ssdl|res://*/PEMS.PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.21.2.181;initial catalog=PEMS_US_PRO;persist security info=True;user id=sampathg;password=.Dotnetteam;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="PEMS.CNX.1" connectionString="metadata=res://*/PEMS.PEMS.csdl|res://*/PEMS.PEMS.ssdl|res://*/PEMS.PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.21.2.181;initial catalog=PEMS_US_PRO;persist security info=True;user id=sampathg;password=.Dotnetteam;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="REPORTING.CNX.1" connectionString="Server=172.21.2.181;Database=PEMS_US_PRO;User ID=sampathg;Password=.Dotnetteam;MultipleActiveResultSets=True;" />
  <add name="REPORTING.CNX.2" connectionString="Server=172.21.2.181;Database=PEMS_US_PRO;User ID=sampathg;Password=.Dotnetteam;MultipleActiveResultSets=True;" />-->
	<!--ENd Prod-->


   <!--PEMS US Production Data Base-->
  <!--DEV-->
  <add name="Duncan.Membership.Connector" connectionString="Data Source=SQL0210229;Initial Catalog=PEMSRBAC_US_PRO;User ID=duncan;Password=n0_Pr3ssure;" providerName="System.Data.SqlClient" />
  <add name="PEMRBACEntities" connectionString="metadata=res://*/RBAC.PEMRBACEntities.csdl|res://*/RBAC.PEMRBACEntities.ssdl|res://*/RBAC.PEMRBACEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL0210229;initial catalog=PEMSRBAC_US_PRO;user id=duncan;password=n0_Pr3ssure;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="MAINT.CNX.1" connectionString="metadata=res://*/RBAC.MaintenanceEntities.csdl|res://*/RBAC.MaintenanceEntities.ssdl|res://*/RBAC.MaintenanceEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL0210229;initial catalog=PEMSRBAC_US_PRO;user ID=duncan;Password=n0_Pr3ssure;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
  <add name="PEMEntities" connectionString="metadata=res://*/PEMS.PEMS.csdl|res://*/PEMS.PEMS.ssdl|res://*/PEMS.PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL0210229;initial catalog=PEMS_US_PRO;persist security info=True;user id=duncan;password=n0_Pr3ssure;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="PEMS.CNX.1" connectionString="metadata=res://*/PEMS.PEMS.csdl|res://*/PEMS.PEMS.ssdl|res://*/PEMS.PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL0210229;initial catalog=PEMS_US_PRO;persist security info=True;user id=duncan;password=n0_Pr3ssure;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="REPORTING.CNX.1" connectionString="Server=SQL0210229;Database=PEMS_US_PRO;User ID=duncan;Password=n0_Pr3ssure;MultipleActiveResultSets=True;" />
  <add name="REPORTING.CNX.2" connectionString="Server=SQL0210229;Database=PEMS_US_PRO;User ID=duncan;Password=n0_Pr3ssure;MultipleActiveResultSets=True;" />
	<!--ENd DEV-->

  <!--<add name="Duncan.Membership.Connector" connectionString="Data Source=172.21.2.181;Initial Catalog=PEMSRBAC_US_PRO;User ID=swarna;Password=emqos123!;" providerName="System.Data.SqlClient" />
  <add name="PEMRBACEntities" connectionString="metadata=res://*/RBAC.PEMRBACEntities.csdl|res://*/RBAC.PEMRBACEntities.ssdl|res://*/RBAC.PEMRBACEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.21.2.181;initial catalog=PEMSRBAC_US_PRO;user id=swarna;password=emqos123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="MAINT.CNX.1" connectionString="metadata=res://*/RBAC.MaintenanceEntities.csdl|res://*/RBAC.MaintenanceEntities.ssdl|res://*/RBAC.MaintenanceEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.21.2.181;initial catalog=PEMSRBAC_US_PRO;user ID=swarna;Password=emqos123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
  
  <add name="PEMEntities" connectionString="metadata=res://*/PEMS.PEMS.csdl|res://*/PEMS.PEMS.ssdl|res://*/PEMS.PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.21.2.181;initial catalog=PEMS_US_PRO;persist security info=True;user id=swarna;password=emqos123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="PEMS.CNX.1" connectionString="metadata=res://*/PEMS.PEMS.csdl|res://*/PEMS.PEMS.ssdl|res://*/PEMS.PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.21.2.181;initial catalog=PEMS_US_PRO;persist security info=True;user id=swarna;password=emqos123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="REPORTING.CNX.1" connectionString="Server=172.21.2.181;Database=PEMS_US_PRO;User ID=swarna;Password=emqos123!;MultipleActiveResultSets=True;" />
  <add name="REPORTING.CNX.2" connectionString="Server=172.21.2.181;Database=PEMS_US_PRO;User ID=swarna;Password=emqos123!;MultipleActiveResultSets=True;" />-->

</connectionStrings>