<AdHocSettings>
	<Property Name="LicenseKey" Value="Duncan Solutions +DASH +FUSION +FORMS +LANG +MAPS|Enterprise|6.7|01/30/2014|10|0|0|M|I3AVV8G" />
	<Property Name="SqlServerConnectionString" Value="Server=192.168.3.157;Database=PEMS;User ID=sa;Password=india;MultipleActiveResultSets=True;" />
	<Property Name="ShowSimpleModeViewer" Value="True" />
	<Property Name="ShowFiltersInReportViewer" Value="False" />
	<Property Name="ShowDesignLinkInReportViewer" Value="False" />
	<Property Name="ReportsPath" Value="G:\Projects\PEMS\NewCode\From Avinash Latest\PEMS USA-AI\Duncan.PEMS.Web\Reporting\Reports" />
	<Property Name="TemplatesPath" Value="D:\Pems\PEMS USA-AI\Duncan.PEMS.Web\Reporting\Reports" />
	<Property Name="ShowLinkFormats" Value="False" />
	<Property Name="ToolbarBackgroundImageUrl" Value="http://localhost:56217/Reporting/rs.aspx?image=Toolbar.Toolgrad.gif" />
	<Property Name="ToolbarCssUrl" Value="http://localhost:56217/Reporting/rs.aspx?css=toolbar" />
	<Property Name="SimpleFilterCssUrl" Value="http://localhost:56217/Reporting/rs.aspx?css=SimpleFilter" />
	<Property Name="TabBackgroundImageUrl" Value="http://localhost:56217/Reporting/rs.aspx?image=TabStrip.Background.gif" />
	<Property Name="ReportList" Value="http://localhost:51358/PEMSIND-45/pems/Reporting/ReportList" />
	<Property Name="ReportViewer" Value="http://localhost:51358/PEMSIND-45/pems/Reporting/ReportViewer" />
	<Property Name="InstantReport" Value="http://localhost:51358/PEMSIND-45/pems/Reporting/InstantReport" />
	<Property Name="DashboardViewer" Value="http://localhost:51358/PEMSIND-45/pems/Reporting/Dashboards" />
	<Property Name="ReportDesignerUrl" Value="http://localhost:51358/PEMSIND-45/pems/Reporting/ReportDesigner" />
	<Property Name="FormDesignerUrl" Value="http://localhost:51358/PEMSIND-45/pems/Reporting/FormDesigner" />
	<Property Name="ShowSaveInReportViewer" Value="False" />
	<Property Name="HiddenCategories" />
	<Property Name="TabsCssUrl" Value="http://localhost:51358/Reporting/Resources/css/tabs.css" />
	<Property Name="ReportCssUrl" Value="http://localhost:51358/Reporting/Resources/css/Report.css" />
	<Property Name="FieldValueCssUrl" Value="http://localhost:56217/Reporting/rs.aspx?css=FieldValue" />
	<Property Name="ShowHelpButton" Value="True" />
	<Property Name="ShowAddFieldInReportViewer" Value="False" />
	<Property Name="ShowRemoveFieldInReportViewer" Value="False" />
	<Property Name="GaugeStyles" />
	<Property Name="DefaultPreviewResults" Value="1000" />
	<Property Name="ReportViewerDefaultPreviewResults" Value="1000" />
	<Property Name="SqlCommandTimeout" Value="120" />
	<Property Name="AllowMultilineHeaders" Value="True" />
	<Property Name="ShowSummaryLine" Value="False" />
	<Property Name="NoDataSourcePage" Value="http://localhost:56217/PEMSIND-44/pems/Reporting/Settings" />
	<Property Name="ShowDataWhenParametersBlank" Value="False" />
	<Property Name="ShowSideHelp" Value="True" />
	<Property Name="NumChartTabs" Value="3" />
	<Property Name="AllowHtmlOutputsInScheduledReports" Value="False" />
	<Property Name="PreviewColumnLimitMessage" Value="Reports with more than 100 fields must be exported to CSV.  Please check CSV Export to view data." />
	<Property Name="ReportsSharedByDefault" Value="False" />
	<Property Name="PrintMode" Value="Html2PdfAndHtml" />
</AdHocSettings>