<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="false" >

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true" >
    <!-- add your targets here -->
    <target xsi:type="Database"
            name="membershipDb"
            connectionStringName="Duncan.Membership.Connector"
            commandText="INSERT INTO [NLog_MembershipEvents] (TimeStamp, UserID, EventTypeId, SessionID, IPAddress ) VALUES(GETDATE(), @userid, @eventTypeId, @sessionid, @ipaddress )" >

      <!-- parameters for the command -->
      <parameter name="@eventTypeId" layout="${event-context:item=eventTypeId}" />
      <parameter name="@userid" layout="${event-context:item=userid}" />
      <parameter name="@ipaddress" layout="${event-context:item=ipaddress}" />
      <parameter name="@sessionid" layout="${event-context:item=sessionid}" />
    </target>

    <target xsi:type="File" name="PEMS_file"
            fileName="${basedir}/App_Data/logs/PEMS_${shortdate}.log"
            layout="${longdate} | ${level} | ${callsite} | ${message}" />

    <!--<target xsi:type="File"
            name="file"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} | ${logger} | ${message}" />-->

  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="membership" minlevel="Debug" writeTo="membershipDb" />
    <logger name="*" minlevel="Trace" writeTo="PEMS_file" />
    <!--<logger name="*" minlevel="Trace" writeTo="file" />-->
  </rules>
</nlog>