<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
    <section name="Oracle.ManagedDataAccess.Client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>

  </configSections>
  <connectionStrings>
    <!--<add name="PEMSRBAC_testEntities" connectionString="metadata=res://*/ZZZZ.Model1.csdl|res://*/ZZZZ.Model1.ssdl|res://*/ZZZZ.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devdb\TEST2008R2;initial catalog=PEMSRBAC_test;persist security info=True;user id=duncan;password=duncan;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="PEMRBACEntities"
      connectionString="metadata=res://*/PEMRBACEntities.csdl|res://*/PEMRBACEntities.ssdl|res://*/PEMRBACEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.157;initial catalog=PEMSRBAC_US_SIT;user id=sa;password=india;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="PEMEntities"
      connectionString="metadata=res://*/PEMS.PEMS.csdl|res://*/PEMS.PEMS.ssdl|res://*/PEMS.PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.157;initial catalog=PEMS;persist security info=True;user id=sa;password=india;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
    <add name="MaintenanceEntities"
      connectionString="metadata=res://*/RBAC.MaintenanceEntities.csdl|res://*/RBAC.MaintenanceEntities.ssdl|res://*/RBAC.MaintenanceEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.157;initial catalog=PEMSRBAC_US_SIT;user id=sa;password=india;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
	<add name="OracleDBEntities"
      connectionString="metadata=res://*/OracleDB.OracleDB.csdl|res://*/OracleDB.OracleDB.ssdl|res://*/OracleDB.OracleDB.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=aipro2;PASSWORD=atOu!8%2n;PERSIST SECURITY INFO=True;USER ID=VGANESAN&quot;"
      providerName="Oracle.ManagedDataAccess.Client"/>
 
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>
<!--<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
     -->
<!--For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468-->
<!--
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
   <add name="PEMEntities" connectionString="metadata=res://*/PEMS.PEMS.csdl|res://*/PEMS.PEMS.ssdl|res://*/PEMS.PEMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.3.157;initial catalog=PEMSDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>-->